<extend name="Public/base" />
<block name='title'><title>唱票</title></block>
<block name="link">
	<script type="text/javascript" src="__JS__/callout.js"></script>
	<link rel="stylesheet" type="text/css" href="__CSS__/callout.css">
</block>
<block name="other">
	<div id="revote_bar">
		<h4>重新投票</h4>
		<div class="revote_form_item">
			<label>参评人数:</label><label id="revote_attend_num">10人</label>
		</div>
		<div class="revote_form_item">
			<label>拟投人数:</label><albel id="revote_prepare_num">3人</albel>
		</div>
		<button id="sure_revote">确定</button>
		<button id="cancel_revote" >取消</button>
	</div>
</block>
<block name="nav">
	<ul id="bar">
		<li id="launch" class="tab static"><a href="{:U('index/index')}">发起投票</a></li>
		<li id="call-out" class="tab action"><a href="{:U('Callout/index')}">唱　　票</a></li>
		<li id="manage" class="tab static"><a href="{:U('Manage/index')}">投票管理</a></li>
	</ul>
</block>
<block name="content">
	<input id="vote_id" value="{$info.id}" style="display:none" />
	<div id="call-out-panel">
		<div id="num-panel">
			<label id="notice">已投票评委数</label>
			<span class="show-num">0</span>
			<label id="notice_2">请点击刷新</label>
			<button id="refresh">刷新</button>
		</div>
		<div id="status-panel">
			<p>主　　题:　<a>{$info.theme}</a>
			<if condition="$info['jury_result_num']">
				<span id="jury_revote_num">第{$info.jury_result_num}次重投</span>
			<else />
				<span id="jury_revote_num"></span>
			</if>
			<p>参选人数:　<span id='attend_num'>{$info.attend_num}</span></p>
			<p>拟投人数:　<span id="prepare_num">{$info.prepare_num}</span></p>
			<p>评委人数:　<span id="jury_num">{$info.jury_num}</span></p>
			<p>投票状态:　<span>正在投票</span><button id="finish">完成</button></p>
		</div>
	</div>
	<button id="check-connection">检查排名是否相同</button>
	<button id="rebowl">重投</button>
	<div id="result_panel">
	<table id="result" cellpadding="0" cellspacing="1" type="{$info.vote_type}">
		<thead>
			<tr id="table_head">
				<th id='result-1'><input type="checkbox" name="choose" disabled='disabled' />
				<switch name="info.vote_type">
				    <case value='1'>
				    	<th id='result-3'>排名</th>
						<th id='result-4'>平均分</th><th id='result-5'>总分</th>
				    </case>
				    <case value="2">
				    	<th id='result-2'>排名</th>
				    	<th id='result-6'>票数</th>
				    </case>
				    <case value="3">
				    	<th id='result-2'>排名</th>
				    	<th id='result-6'>排名分</th>
				    </case>
				    <case value="4">
				    	<th id='result-2'>排名</th>
				    	<th id='result-6'>等级分</th>
				    </case>
				    <default />
				    	<th id='result-2'>排名</th>
				    	<th id='result-6'>票数</th>
				</switch>
				<th id='result-7'>代号</th><th id='result-8'>姓名</th><th id='result-9'>简介</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	</div>
	<input id="vote_type_val" value="{$info.vote_type}" style="display:none" />
	<!-- <div id="page"></div> -->
	<!-- <input id="revote_num" value="{$info.revote_num}" /> -->
</block>